.contacts
       a.contact(href="tel:+380999999999")
        i.fa.fa-mobile.contact__icon
        span.contact__text 6337 3128

       a.contact(href="mailto:info@business.co")
        i.fa.fa-envelope.contact__icon.contact__icon--email
        span.contact__text info@business.co

       a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook